# iOS
build/ios/*
!build/ios/assets

# Android
build/AndroidNative/*
!build/AndroidNative/assets
!build/AndroidNative/src
build/AndroidNative/src/com/quickplay/vstb/ref/VstbApplication.java
build/AndroidNative/src/tv/youi/youiengine/CYIFoxActivity.java
build/AndroidNative/src/tv/youi/youiengine/FoxBootActivity.java
build/AndroidNative/src/tv/youi/youiengine/FoxTVBootActivity.java

# YouiEngine
/youiengine

# Template Generated Source Files
/src/utilities/AppsFlyerUtilities.h
/src/utilities/LocalyticsUtilities.h
/src/utilities/YouboraUtilities.h

# Other
.DS_Store
*.swp
build/osx/cmake_install.cmake
build/osx/CMakeCache.txt
build/osx/CMakeFiles/CMakeOutput.log
build/osx/CMakeFiles/feature_tests.bin
build/osx/CMakeFiles/feature_tests.c
build/osx/CMakeFiles/feature_tests.cxx
build/osx/CMakeFiles/TargetDirectories.txt
build/osx/CMakeFiles/3.8.0/CMakeCCompiler.cmake
build/osx/CMakeFiles/3.8.0/CMakeCXXCompiler.cmake
build/osx/CMakeFiles/3.8.0/CMakeDetermineCompilerABI_C.bin
build/osx/CMakeFiles/3.8.0/CMakeDetermineCompilerABI_CXX.bin
build/osx/CMakeFiles/3.8.0/CMakeSystem.cmake
build/osx/CMakeFiles/3.8.0/CompilerIdC/CMakeCCompilerId.c
build/osx/CMakeFiles/3.8.0/CompilerIdC/CompilerIdC
build/osx/CMakeFiles/3.8.0/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC-all-non-framework-target-headers.hmap
build/osx/CMakeFiles/3.8.0/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC-all-target-headers.hmap
build/osx/CMakeFiles/3.8.0/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC-generated-files.hmap
build/osx/CMakeFiles/3.8.0/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC-own-target-headers.hmap
build/osx/CMakeFiles/3.8.0/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC-project-headers.hmap
build/osx/CMakeFiles/3.8.0/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC.hmap
build/osx/CMakeFiles/3.8.0/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/dgph
build/osx/CMakeFiles/3.8.0/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Script-2C8FEB8E15DC1A1A00E56A5D.sh
build/osx/CMakeFiles/3.8.0/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/x86_64/CMakeCCompilerId.d
build/osx/CMakeFiles/3.8.0/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/x86_64/CMakeCCompilerId.dia
build/osx/CMakeFiles/3.8.0/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/x86_64/CMakeCCompilerId.o
build/osx/CMakeFiles/3.8.0/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/x86_64/CompilerIdC.LinkFileList
build/osx/CMakeFiles/3.8.0/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/x86_64/CompilerIdC_dependency_info.dat
build/osx/CMakeFiles/3.8.0/CompilerIdC/CompilerIdC.xcodeproj/project.pbxproj
build/osx/CMakeFiles/3.8.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/osx/CMakeFiles/3.8.0/CompilerIdCXX/CompilerIdCXX
build/osx/CMakeFiles/3.8.0/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-all-non-framework-target-headers.hmap
build/osx/CMakeFiles/3.8.0/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-all-target-headers.hmap
build/osx/CMakeFiles/3.8.0/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-generated-files.hmap
build/osx/CMakeFiles/3.8.0/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-own-target-headers.hmap
build/osx/CMakeFiles/3.8.0/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-project-headers.hmap
build/osx/CMakeFiles/3.8.0/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX.hmap
build/osx/CMakeFiles/3.8.0/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/dgph
build/osx/CMakeFiles/3.8.0/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Script-2C8FEB8E15DC1A1A00E56A5D.sh
build/osx/CMakeFiles/3.8.0/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/x86_64/CMakeCXXCompilerId.d
build/osx/CMakeFiles/3.8.0/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/x86_64/CMakeCXXCompilerId.dia
build/osx/CMakeFiles/3.8.0/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/x86_64/CMakeCXXCompilerId.o
build/osx/CMakeFiles/3.8.0/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/x86_64/CompilerIdCXX.LinkFileList
build/osx/CMakeFiles/3.8.0/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/x86_64/CompilerIdCXX_dependency_info.dat
build/osx/CMakeFiles/3.8.0/CompilerIdCXX/CompilerIdCXX.xcodeproj/project.pbxproj
build/osx/CMakeScripts/ALL_BUILD_cmakeRulesBuildPhase.makeDebug
build/osx/CMakeScripts/ALL_BUILD_cmakeRulesBuildPhase.makeMinSizeRel
build/osx/CMakeScripts/ALL_BUILD_cmakeRulesBuildPhase.makeRelease
build/osx/CMakeScripts/ALL_BUILD_cmakeRulesBuildPhase.makeRelWithDebInfo
build/osx/CMakeScripts/CleanAssets_postBuildPhase.makeDebug
build/osx/CMakeScripts/CleanAssets_postBuildPhase.makeMinSizeRel
build/osx/CMakeScripts/CleanAssets_postBuildPhase.makeRelease
build/osx/CMakeScripts/CleanAssets_postBuildPhase.makeRelWithDebInfo
build/osx/CMakeScripts/CopyAssets_cmakeRulesBuildPhase.makeDebug
build/osx/CMakeScripts/CopyAssets_cmakeRulesBuildPhase.makeMinSizeRel
build/osx/CMakeScripts/CopyAssets_cmakeRulesBuildPhase.makeRelease
build/osx/CMakeScripts/CopyAssets_cmakeRulesBuildPhase.makeRelWithDebInfo
build/osx/CMakeScripts/CopyAssets_postBuildPhase.makeDebug
build/osx/CMakeScripts/CopyAssets_postBuildPhase.makeMinSizeRel
build/osx/CMakeScripts/CopyAssets_postBuildPhase.makeRelease
build/osx/CMakeScripts/CopyAssets_postBuildPhase.makeRelWithDebInfo
build/osx/CMakeScripts/ReRunCMake.make
build/osx/CMakeScripts/ZERO_CHECK_cmakeRulesBuildPhase.makeDebug
build/osx/CMakeScripts/ZERO_CHECK_cmakeRulesBuildPhase.makeMinSizeRel
build/osx/CMakeScripts/ZERO_CHECK_cmakeRulesBuildPhase.makeRelease
build/osx/CMakeScripts/ZERO_CHECK_cmakeRulesBuildPhase.makeRelWithDebInfo
build/osx/Debug/Game
build/osx/Debug/assets/yi_Arial-Regular.ttf
build/osx/Debug/assets/yi_Helvetica-Regular_Helvetica.dfont
build/osx/Debug/assets/drawable/default/dog.png
build/osx/Debug/assets/drawable/default/guy.png
build/osx/Debug/assets/drawable/default/wall.png
build/osx/Debug/assets/drawable/default/YouiEngineDevPanel-logo-white.png
build/osx/Debug/assets/layout/default/Game_MainComp.layout
build/osx/Debug/assets/layout/default/Game_MainComp.timeline
build/osx/Debug/assets/layout/default/Game_Player.layout
build/osx/Debug/assets/layout/default/Game_Player.timeline
build/osx/Debug/assets/layout/default/Game_Prefab.layout
build/osx/Debug/assets/layout/default/Game_Prefab.timeline
build/osx/Debug/assets/layout/default/Game_Wall.layout
build/osx/Debug/assets/layout/default/Game_Wall.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_AssetsViewerAssetImage.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_AssetsViewerAssetImage.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_AssetsViewerButton.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_AssetsViewerButton.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_AssetsViewerLargeView.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_AssetsViewerLargeView.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_AssetsViewerLargeViewItem.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_AssetsViewerLargeViewItem.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_AssetsViewerList.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_AssetsViewerList.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_AssetsViewerListItem.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_AssetsViewerListItem.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_AssetsViewerSummary.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_AssetsViewerSummary.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_AssetsViewerSummaryBar.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_AssetsViewerSummaryBar.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_AssetsViewerSummaryColumn.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_AssetsViewerSummaryColumn.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_AssetsViewerSummaryRow.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_AssetsViewerSummaryRow.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_AssetsViewerSummaryTitle.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_AssetsViewerSummaryTitle.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_AssetsViewerWidget.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_AssetsViewerWidget.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_AssetViewerSummaryColorBars.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_AssetViewerSummaryColorBars.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_Btn-Close.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_Btn-Close.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_Btn-ConfigureArrow.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_Btn-ConfigureArrow.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_Btn-ConfigureItem.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_Btn-ConfigureItem.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_Btn-PanelItem.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_Btn-PanelItem.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_ConfigurationSubpanel.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_ConfigurationSubpanel.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_Export.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_Export.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_FocusOutline.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_FocusOutline.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_Inspector.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_Inspector.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_InspectorColor.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_InspectorColor.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_InspectorColumn1.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_InspectorColumn1.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_InspectorColumn2.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_InspectorColumn2.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_InspectorLargeZoomView.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_InspectorLargeZoomView.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_InspectorLayout.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_InspectorLayout.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_InspectorLayoutContent.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_InspectorLayoutContent.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_InspectorLayoutContentBlue.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_InspectorLayoutContentBlue.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_InspectorLayoutFillArrow.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_InspectorLayoutFillArrow.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_InspectorLayoutFitArrow.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_InspectorLayoutFitArrow.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_InspectorLayoutItems.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_InspectorLayoutItems.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_InspectorLayoutModel.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_InspectorLayoutModel.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_InspectorLayoutNodeOutline.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_InspectorLayoutNodeOutline.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_InspectorLayoutParentOutline.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_InspectorLayoutParentOutline.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_InspectorMainColumn.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_InspectorMainColumn.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_InspectorOutline.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_InspectorOutline.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_InspectorRegular.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_InspectorRegular.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_InspectorWidget.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_InspectorWidget.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_InspectorZoomedView.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_InspectorZoomedView.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_MainPanel.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_MainPanel.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_PanelBackground.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_PanelBackground.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_PanelConfigurationHeader.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_PanelConfigurationHeader.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_PanelContainer.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_PanelContainer.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_PanelHeader.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_PanelHeader.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_PanelItem.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_PanelItem.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_PanelItemContent.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_PanelItemContent.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_PanelItemIndicator.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_PanelItemIndicator.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_RootPanel.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_RootPanel.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_ScrollingConfigurationPanel.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_ScrollingConfigurationPanel.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_ScrollingPanel.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_ScrollingPanel.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_TextWidget.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_TextWidget.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_TextWidgetContentScroll.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_TextWidgetContentScroll.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_TextWidgetFloating.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_TextWidgetFloating.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_TextWidgetListItem.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_TextWidgetListItem.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_TextWidgetNonFloatingScroll.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_TextWidgetNonFloatingScroll.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_TextWidgetTextScroll.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_TextWidgetTextScroll.timeline
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_WidgetsContainer.layout
build/osx/Debug/assets/layout/default/YouiEngineDevPanel_WidgetsContainer.timeline
build/osx/Game.build/Debug/ALL_BUILD.build/dgph
build/osx/Game.build/Debug/ALL_BUILD.build/Script-040ABE47183943DBB455F6A6.sh
build/osx/Game.build/Debug/ALL_BUILD.build/Script-04F40184869B43F385C7967F.sh
build/osx/Game.build/Debug/ALL_BUILD.build/Script-173D074B034345A2B5063FD5.sh
build/osx/Game.build/Debug/ALL_BUILD.build/Script-849488BEDCD847198A95B7B3.sh
build/osx/Game.build/Debug/ALL_BUILD.build/Script-86C5A79A7D10495FBE96B02F.sh
build/osx/Game.build/Debug/ALL_BUILD.build/Script-D2EF2D58208F478795490525.sh
build/osx/Game.build/Debug/ALL_BUILD.build/Script-FCC9BBE9AE6143149E926188.sh
build/osx/Game.build/Debug/CopyAssets.build/dgph
build/osx/Game.build/Debug/CopyAssets.build/Script-13C57287E3944BCDA0D3C73C.sh
build/osx/Game.build/Debug/CopyAssets.build/Script-14F5437F14934DCE95094CA6.sh
build/osx/Game.build/Debug/CopyAssets.build/Script-23A020D0B26849EFA1E4BB10.sh
build/osx/Game.build/Debug/CopyAssets.build/Script-31D85A2055ED4D2E8C8EDE9F.sh
build/osx/Game.build/Debug/CopyAssets.build/Script-48A4875A1C3B4B0295119B0F.sh
build/osx/Game.build/Debug/CopyAssets.build/Script-56223CB775CA42A9A1103667.sh
build/osx/Game.build/Debug/CopyAssets.build/Script-785BE885440D4E018CA95C65.sh
build/osx/Game.build/Debug/CopyAssets.build/Script-A28E21AAA7B94F8E95681975.sh
build/osx/Game.build/Debug/CopyAssets.build/Script-AF256A042B204FDF8526011F.sh
build/osx/Game.build/Debug/CopyAssets.build/Script-B9148728DDB04E7A91E7BE68.sh
build/osx/Game.build/Debug/CopyAssets.build/Script-BF95B02B3A834CD098D111DC.sh
build/osx/Game.build/Debug/CopyAssets.build/Script-CC5A2848FD2C4F8E92E436D9.sh
build/osx/Game.build/Debug/CopyAssets.build/Script-CE245B9152094B9F86096BD3.sh
build/osx/Game.build/Debug/CopyAssets.build/Script-D2AC90B0ADB641B19D3772A1.sh
build/osx/Game.build/Debug/CopyAssets.build/Script-D88F4A3508974AC084B988EE.sh
build/osx/Game.build/Debug/CopyAssets.build/Script-EA833008DFD849EF8485400E.sh
build/osx/Game.build/Debug/CopyAssets.build/Script-EDA32DAEADEE43609970F36B.sh
build/osx/Game.build/Debug/CopyAssets.build/Script-F9C547D4FB1B4EC498B25512.sh
build/osx/Game.build/Debug/Game.build/dgph
build/osx/Game.build/Debug/Game.build/Objects-normal/x86_64/AppFactory.d
build/osx/Game.build/Debug/Game.build/Objects-normal/x86_64/AppFactory.dia
build/osx/Game.build/Debug/Game.build/Objects-normal/x86_64/AppFactory.o
build/osx/Game.build/Debug/Game.build/Objects-normal/x86_64/Entity.d
build/osx/Game.build/Debug/Game.build/Objects-normal/x86_64/Entity.dia
build/osx/Game.build/Debug/Game.build/Objects-normal/x86_64/Entity.o
build/osx/Game.build/Debug/Game.build/Objects-normal/x86_64/Game.LinkFileList
build/osx/Game.build/Debug/Game.build/Objects-normal/x86_64/Game_dependency_info.dat
build/osx/Game.build/Debug/Game.build/Objects-normal/x86_64/GameApp.d
build/osx/Game.build/Debug/Game.build/Objects-normal/x86_64/GameApp.dia
build/osx/Game.build/Debug/Game.build/Objects-normal/x86_64/GameApp.o
build/osx/Game.build/Debug/Game.build/Objects-normal/x86_64/GameAppFactory.d
build/osx/Game.build/Debug/Game.build/Objects-normal/x86_64/GameAppFactory.dia
build/osx/Game.build/Debug/Game.build/Objects-normal/x86_64/GameAppFactory.o
build/osx/Game.build/Debug/Game.build/Objects-normal/x86_64/mainDefault.d
build/osx/Game.build/Debug/Game.build/Objects-normal/x86_64/mainDefault.dia
build/osx/Game.build/Debug/Game.build/Objects-normal/x86_64/mainDefault.o
build/osx/Game.build/Debug/Game.build/Objects-normal/x86_64/PiMainDefault.d
build/osx/Game.build/Debug/Game.build/Objects-normal/x86_64/PiMainDefault.dia
build/osx/Game.build/Debug/Game.build/Objects-normal/x86_64/PiMainDefault.o
build/osx/Game.build/Debug/Game.build/Objects-normal/x86_64/PS4MainDefault.d
build/osx/Game.build/Debug/Game.build/Objects-normal/x86_64/PS4MainDefault.dia
build/osx/Game.build/Debug/Game.build/Objects-normal/x86_64/PS4MainDefault.o
build/osx/Game.build/Debug/Game.build/Objects-normal/x86_64/TizenNaClMainDefault.d
build/osx/Game.build/Debug/Game.build/Objects-normal/x86_64/TizenNaClMainDefault.dia
build/osx/Game.build/Debug/Game.build/Objects-normal/x86_64/TizenNaClMainDefault.o
build/osx/Game.build/Debug/Game.build/Objects-normal/x86_64/UWPMainDefault.d
build/osx/Game.build/Debug/Game.build/Objects-normal/x86_64/UWPMainDefault.dia
build/osx/Game.build/Debug/Game.build/Objects-normal/x86_64/UWPMainDefault.o
build/osx/Game.build/Debug/Game.build/Objects-normal/x86_64/Wall.d
build/osx/Game.build/Debug/Game.build/Objects-normal/x86_64/Wall.dia
build/osx/Game.build/Debug/Game.build/Objects-normal/x86_64/Wall.o
build/osx/Game.build/Debug/Game.build/Objects-normal/x86_64/WinMainDefault.d
build/osx/Game.build/Debug/Game.build/Objects-normal/x86_64/WinMainDefault.dia
build/osx/Game.build/Debug/Game.build/Objects-normal/x86_64/WinMainDefault.o
build/osx/Game.build/Debug/ProcessLocalizationData.build/dgph
build/osx/Game.build/Debug/ZERO_CHECK.build/dgph
build/osx/Game.build/Debug/ZERO_CHECK.build/Script-152020562DE3472CB05BFCF8.sh
build/osx/Game.build/Debug/ZERO_CHECK.build/Script-1F5871BAB14A4CA59C9C5508.sh
build/osx/Game.build/Debug/ZERO_CHECK.build/Script-37BC5740681E42C9BC460D46.sh
build/osx/Game.build/Debug/ZERO_CHECK.build/Script-459472E81B0843938E2C214A.sh
build/osx/Game.build/Debug/ZERO_CHECK.build/Script-5C23870F7F6449048FE1E1BE.sh
build/osx/Game.build/Debug/ZERO_CHECK.build/Script-6710569663A5497AA6753ABE.sh
build/osx/Game.build/Debug/ZERO_CHECK.build/Script-6F97662D20364AD19C83B961.sh
build/osx/Game.build/Debug/ZERO_CHECK.build/Script-7DB617558A4C4D9983D0FFE4.sh
build/osx/Game.build/Debug/ZERO_CHECK.build/Script-C791114DC19A4BD58CD14F81.sh
build/osx/Game.xcodeproj/project.pbxproj
build/osx/Game.xcodeproj/project.xcworkspace/contents.xcworkspacedata
build/osx/Game.xcodeproj/project.xcworkspace/xcuserdata/danforstinger.xcuserdatad/UserInterfaceState.xcuserstate
build/osx/Game.xcodeproj/project.xcworkspace/xcuserdata/danforstinger.xcuserdatad/WorkspaceSettings.xcsettings
build/osx/Game.xcodeproj/xcuserdata/danforstinger.xcuserdatad/xcschemes/ALL_BUILD.xcscheme
build/osx/Game.xcodeproj/xcuserdata/danforstinger.xcuserdatad/xcschemes/CleanAssets.xcscheme
build/osx/Game.xcodeproj/xcuserdata/danforstinger.xcuserdatad/xcschemes/CopyAssets.xcscheme
build/osx/Game.xcodeproj/xcuserdata/danforstinger.xcuserdatad/xcschemes/Game.xcscheme
build/osx/Game.xcodeproj/xcuserdata/danforstinger.xcuserdatad/xcschemes/ProcessLocalizationData.xcscheme
build/osx/Game.xcodeproj/xcuserdata/danforstinger.xcuserdatad/xcschemes/xcschememanagement.plist
build/osx/Game.xcodeproj/xcuserdata/danforstinger.xcuserdatad/xcschemes/ZERO_CHECK.xcscheme
